/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/*
    Created on : Nov 1, 2013, 2:54:26 PM
    Author     : Archie
*/


/* #Tablet (Landscape) 1024px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 960px) and (max-width: 1240px) {
    /***
	 * Index
	 */
    .biruang-menu .biruang-menu-item .biruang-menu-item-link {
        padding-left: 30px;
    }
    .biruang-search-form i {
        display: none;
    }
    .biruang-footer .biruang-top-footer .biruang-send-mail {
        padding-left: 0px;
    }
    .biruang-footer .biruang-top-footer .biruang-send-mail-form {
        float: none !important;
    }
    .biruang-footer .biruang-top-footer .biruang-send-mail-form button {
        padding: 10px 160px;
    }
}


/* #Tablet (Portrait) 768px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
    /***
	 * Index
	 */
    .biruang-menu .biruang-menu-item .biruang-menu-item-link {
        padding-left: 30px;
    }
    .biruang-search-form i {
        display: none;
    }
    .biruang-footer .biruang-top-footer .biruang-send-mail {
        padding-left: 0px;
    }
    .biruang-footer .biruang-top-footer .biruang-send-mail-form {
        float: none !important;
    }
    .biruang-footer .biruang-top-footer .biruang-send-mail-form button {
        padding: 10px 160px;
    }
}


/* #Mobile (Landscape) 480px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    /***
	 * Index
	 */
    .biruang-menu .biruang-menu-item .biruang-menu-item-link {
        padding-left: 30px;
    }
    .biruang-search-form i {
        display: none;
    }
    .biruang-footer .biruang-top-footer .biruang-send-mail {
        padding-left: 0px;
    }
    .biruang-footer .biruang-top-footer .biruang-send-mail-form {
        float: none !important;
    }
    .biruang-footer .biruang-top-footer .biruang-send-mail-form button {
        padding: 10px 160px;
    }
}


/*  #Mobile (Portrait) 320px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 100px) and (max-width: 479px) {
    /***
	 * Index
	 */
    .biruang-menu .biruang-menu-item .biruang-menu-item-link {
        padding-left: 30px;
    }
    .biruang-search-form i {
        display: none;
    }
    .biruang-footer .biruang-top-footer .biruang-send-mail {
        padding-left: 0px;
    }
    .biruang-footer .biruang-top-footer .biruang-send-mail-form {
        float: none !important;
    }
    .biruang-footer .biruang-top-footer .biruang-send-mail-form button {
        padding: 10px 160px;
    }
}
