@font-face {
    font-family:fontRoboto;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family:fontDisplay;
    src: url(../fonts/PlayfairDisplay-Bold.otf);
}

@font-face {
    font-family:fontDisplayReg;
    src: url(../fonts/PlayfairDisplay-Regular.otf);
}
body{
	color:#3f3d3d;
	font-size: 12px;
	font-family:fontRoboto; 
	margin: 0;
	padding:0;
	overflow-x: hidden;
}

/*#container .container{
	width: 960px;
	margin:0 auto;
}*/
.gretong-container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  position: relative;
  padding-right: 10px;
}

.top-header{
	height:30px;
	background-color: #252525;
	color: #fff;
}
.top-header .top-left{
	float:left;
}
.top-header .top-left ul{
	list-style: none;
	margin: 0;
	padding:0;
}
.top-header .top-left ul li{
	display: inline-block;
}
.top-header .top-left ul li a{
	color: #fff;
	line-height: 30px;
	padding-right:20px;  
}
.top-header .top-right{
	float: right;
	text-align: right;
	line-height: 30px;
}
/*---Header---*/
.header{
	background-color:#e2eef6;
	position: relative;
	width: 100%;
}
.header .row{
	padding-left:15px;
    padding-right:15px;
}
.header #gretong-logo{
	padding:43px 0;
	margin-left:-15px;
}
.header ul li{
	margin-left:15px;
}
.header ul li a{
	padding:10px 15px !important;
	color:#3f3d3d;
	font-size: 13px;
}
.header ul li a.active,.form-contact span{
	background-color: #000;
	color: #fff;
	border-radius: 0;
}
.header .border{
	border: 1px solid #e5e4e2;
}
.input-header{
	height:40px;
	background-color: #e2eef6;
	border: 1px solid #e2eef6;
	width: 95%;
	margin-top: 13px;
	margin-left: 20px;
}
.input-header-pos {
	position: relative;
}
.icon-pos {
    position:absolute;
    bottom:12px;
    right:20px;
}

/*---Menu---*/

.gretong-nav{
	margin: 0;
	padding:0;
	width: 100%;
	z-index: 1000;
	background: #fff;
	border-color:#fff;
	box-shadow: none;
}

.gretong-menu{
	background-color: #f5f5f5;
	padding: 0;
	top:0;
}

.gretong-menu ul li a{
	color:#3f3d3d;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
}
.gretong-menu ul li a.active, .gretong-menu ul li a:hover {
	background-color: #e4e4e4;
}
/*.gretong-nav #gretong-logo{
	padding:43px 0;
}
.gretong-navbar{
	width: 50%;
	float: right;
}
.gretong-navbar ul{
	width: 100%;
}
.gretong-navbar ul li{
	width: auto;
	padding:10px 30px !important;
}

.input-header{
	height:40px;
	background-color: #e2eef6;
	border: 1px solid #e2eef6;
	width: 100%;
	margin-top: 13px;
}*/

/*-----San pham--------*/
.product{
	padding-left: 5px;
	padding-right: 5px;
}
.product ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.product ul li{
	float: left;
	margin: 10px;
}
.img-product{
	position: relative;
	color: #fff
}
.img-product .detail1{
	position: absolute;
	bottom:0;
	width: 100%;
	height: 60%;
	text-align: center;
}

.img-product .detail1 a, .img-product .detail2 a{
	color: #fff;
}
.img-product .detail1 p, 
.img-product .detail1 h3{
	margin-bottom: 25px;
}
.img-product .detail1 a{
	text-decoration: none;
	border: 1px solid #fff;
	padding: 10px 15px;
	font-size: 14px;
	margin:35px 0px 65px 0px;
}
.img-product .detail1 h3{
	font-size: 22px;
}
.img-product .detail2{
	height:40%;
	width: 100%;
	position: absolute;
	bottom:0;
}
.img-product .detail2 .pleft, .img-product .detail2 .pright{
	bottom: 23px;
	position: absolute;
}
.img-product .detail2 .pleft{
	left:20px;
}

.img-product .detail2 .pright{
	right:20px;
}

/*------Special offer-------*/
.tieude-offer-box{
	margin: 50px auto;
	width: 100%;
}
.tieude-offer{
	font-size: 20px;
	text-align: center;
	border: 1px solid #eae9e8;
	padding:15px 25px;
	margin:0 auto;
}
.offers{
	padding:0;
}

.offer-view{
	position: relative;
	width: 100%;
	height: 100%;
}
.offer-view .offer-view-detail{
	top:0;
	bottom:0;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
}
.offer-view .offer-view-detail a{
	color: #fff;
	text-decoration: none;
}
.offer-view .offer-view-detail h3{
	padding-top: 40%;
} 
.offer-view:hover > .offer-view-detail{
	opacity: 1;
	visibility: visible;
} 

.offers .offer-content{
	width: 100%;
	text-align: center;
	background-color: #fff;
	border: 1px solid #eae9e8;	
}
.offers .offer-content span{	
	font-size: 13px;
	font-family: fontRoboto;
}
.offers .offer-content p{
	font-size: 15px;
	font-family: fontDisplayReg;
	margin:25px 0;
}
.offers .col-md-3, .offers .col-sm-3{
	padding-left:10px;
	padding-right:10px;
}

.hleft, .hright{
	width:40%;
	padding:15px 0;
} 


/*----Thong tin lien he----*/
.form-contact{
	margin-top: 88px;
	border: 1px solid #eae9e8;
	font-size: 14px;
	padding: 35px 0px !important;
}
.form-contact .row{
	padding:0;
	margin: 0;
}
.form-contact ul{
	margin: 0;
	padding-left: 0;
}

.icon-social{
	list-style: none;
	margin-left: 0px !important;
}
.icon-social li{
	display: inline-block;
}
.icon-social li a{
	text-decoration: none;
	padding-right: 15px;
	color: #000;
}
/*------Footer-------*/
.footer{
	padding:50px 0px;
}
.footer h4{
	font-size: 15px;
	font-weight:500;
	font-family: fontDisplayReg;
}
.footer .last-footer p{
	margin-top: 56px;
	font-size: 13px;
}
.footer .last-footer span{
	padding-right:50px;
}