/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/*
    Created on : Nov 1, 2013, 2:54:26 PM
    Author     : Archie
*/


/* #Tablet (Landscape) 1024px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 960px) and (max-width: 1240px) {
	#container .container{
		margin-left: 0px;
	}
}
.freeshipping-sticky{
	font-size: 20px;
}
.day-return-sticky{
	font-size: 20px;
}
.support-sticky{
	font-size: 20px;
}

/* #Tablet (Portrait) 768px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
	#container .container{
		margin-left: 0px;
	}
	.sophia-button{
		left: 27%;
	}
}


/* #Mobile (Landscape) 480px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.sophia-button{
		left: 32%;
	}
	.sophia-click{
		left: 28%;
	}
	.sophia-bar-color{
		background-color: #f2f2f2;
	}
}


/*  #Mobile (Portrait) 320px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 100px) and (max-width: 479px) {

	/***
	 * Index
	 */
   #container .container{
		margin-left: 0px;
	} 
.sophia-bar-color{
		background-color: #f2f2f2;
	}

.sophia-menu{
	font-size: 13px;
}
}
