*{
	margin: 0px;
	padding: 0px;
}
.top_responsive{
	background-color: #303030;
}
.container .top_left label{
margin-left: 5px;
}
.six{
	font-style: italic;
	color: #ffffff;
	font-family: Georgia ;
   font-size: 24px ;
   font-weight: bold;
   font-style: italic;
}
.studios{
	font-style: italic;
	color: #f7e5c4;
	font-family: Georgia ;
   font-size: 24px ;
   font-weight: bold;
   font-style: italic;
}
.my_menu{
	background-color: #313131;
}
.my_menu ul li {
	font-weight: bold;
}
.slider{
	background-image: url('../img/header.jpg');
	height: auto;
	margin-top: -20px;
	width: 100%
	height: 100%;
}
.left_slider h1{
	font-size: 24px;
	font-family: Helvetica ;
	font-weight: bold;
}
.left_slider p{
	font-size: 14px;
	font-family: Helvetica ;
	width: 100%;
	height: 100%;
}
.my_btn{
	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    color: #0e0a0a;
    background-color: #e6ebef;
    border-color: #eff3f7;
    float: left;
}
.endslider{
	width: 100%;
	height: 50px;
	background-color: #323232 ;
	border-bottom: 8px  #4b4b4b solid;
}
.fix_hr {
    border-style: dotted;
    border: 1px #242424 dotted;
}

.center_a{
	border: 6px #ffffff solid ;
	border-radius: 2px 2px 2px 2px ;
	margin-top: 10px;
}
.comment ul li{
	text-decoration: none;
	list-style: none;
	font-weight: bold;
	margin : 10px;
}
.spechly{
	background-color: #484848;
	color: white;
	width: 220px;
	height: 25px;
	line-height: 25px;
}
.message{
	margin-top: 50px;
	width: 275px;
	height: 140px ;
	-moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   background-color: #2f2f2f;

}
.message h2{
	color: white;
	margin-left: 20px;
	padding-top: 10px;
	font-style:italic;
}
.message p{
	color: white;
}
.my_searchform{
	width: 100%;
	background-color: #ffffff;
}
.footers{
	background-color: #2f2f2f;

}
.navigation {
    margin-top: 60px;
    margin: 10% auto;
    margin-left: 40px;
}

.navigation .navigation_responsive {
    background-color: #242424;
    margin-left: 2px;
    margin-top: 2px;
    width: 138px;
    height: 20px;
    font-weight: bold;
    font-size: 12px;
    font-family: Helvetica;
    color: white;
    line-height: 20px;
}
.logo_contact ul li {
	float: right;
	margin-left: 40px
	padding: 1px;
}
.navbar-brand{
	margin-top: 10px;
}
.all{
	height: 100% ;
	width:100%;
	position: relative;
}
.hinh_anh{
	
	width: 100%;
	height: 100%; 
}
.text{
	position: absolute;
	width:100%;
	height: 100px;
	bottom: 0;
	background-color: #242424;
}