*{
	margin: 0px;
	padding: 0px;
}

.top_responsive{
	background-color: #303030;
}
.container .top_left label{
margin-left: 5px;
}
.six{
	font-style: italic;
	color: #ffffff;
	font-family: Georgia ;
   font-size: 24px ;
   font-weight: bold;
   font-style: italic;
}
.studios{
	font-style: italic;
	color: #f7e5c4;
	font-family: Georgia ;
   font-size: 24px ;
   font-weight: bold;
   font-style: italic;
}
.wrapper{
	background-color: #fbf5ea;
}
.my_menu{
	background-color: #313131;
}
.my_menu ul li {
	padding-top: 5px;
	font-weight: bold;
	color: #efeded;
	line-height: 67px;
}
.my_menu ul li:hover{
	padding-top: 5px;
	font-weight: bold;
	color: red;
	line-height: 67px;

}
.acti{
	background-color: #474747;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.slider{
	background-image: url('../img/slider1.jpg');
	height: auto;
	padding-bottom: 30px;
	margin-top: -20px;
	width: 100%
	background-repeat: repeat;
	/*padding-bottom: 20px;*/
	
}
.left_slider h1{
	font-size: 24px;
	font-family: Helvetica ;
	font-weight: bold;
}
.left_slider p{
	font-size: 14px;
	font-family: Helvetica ;
	width: 100%;
	height: 100%;
}

.text{
	position: absolute;
	width:100%
	height: 70px;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); 
	border-left: 7px #dcd3bf solid ;
	border-right: 7px #dcd3bf solid ;
	border-bottom: 7px #dcd3bf solid ;
	color: #ffffff ;
	padding-left: 10px; 
}
.my_btn{
	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    color: #0e0a0a;
    background-color: #e6ebef;
    border-color: #eff3f7;
    float: left;
}
.my_btn:hover{
	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    color: red;
    background-color: #e6ebef;
    border-color: #eff3f7;
    float: left;
}
.cover_icon{
	background-color: red;
}
.endslider{
	width: 100%;
	height: 50px;
	background-color: #323232 ;
	border-bottom: 8px  #4b4b4b solid;
	/*margin-top: 30px;*/
}
.fix_hr {
    border-style: dotted;
    border: 1px #242424 dotted;
}

.center_a{
	border: 6px #ffffff solid ;
	border-radius: 2px 2px 2px 2px ;
	margin-top: 10px;
}
.comment ul li{
	text-decoration: none;
	list-style: none;
	font-weight: bold;
	margin : 10px;
}
.comment ul li:hover{
	background-color: #484848;
	color: white;
	width: 220px;
	height: 25px;
	line-height: 25px;
}
.message{
	margin-top: 50px;
	width: 275px;
	height: 140px ;
	-moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   background-color: #2f2f2f;

}
.message h2{
	color: white;
	margin-left: 20px;
	padding-top: 10px;
	font-style:italic;
}
.message p{
	color: white;
}
.my_searchform{
	width: 100%;
	background-color: #ffffff;
}
.footers{
	background-color: #2f2f2f;
	height: 100%;

}
.navigation {
    margin-top: 100px;
    margin: 10% auto;
    margin-left: 40px;
}

.navigation .navigation_responsive {
    background-color: #242424;
    margin-left: 2px;
    margin-top: 2px;
    width: 138px;
    height: 20px;
    font-weight: bold;
    font-size: 12px;
    font-family: Helvetica;
    color: white;
    line-height: 20px;
}
.logo_contact {
	float: left;
	margin-left: 40px;
	margin-top: 10px;
	padding-bottom: 20px;
}
.logo_contact ul li {
	float: left; /*left*/
	margin-left: 40px
	padding: 1px;
}
.navbar-brand{
	margin-top: 10px;
}

.hinh_anh{
	
	width: 100%;
	height: 100%; 
}


.all{
	height: 100%;
	width:483px ;
	position: relative;
	margin-top: 20px;
	float: right;
	border: 10px #d6cec0 solid;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	/*box-shadow: 10px 10px 10px 10px #ddd;*/
}
.img_fix{
	
	width: 100%;
	height: 100%; 
}
.text{
	position: absolute;
	width:100%;
	height: 100px;
	background-color: #242424;
	background-color: rgba(0,0,0,0.5);
}

.icon_muiten{
	background-color: #ffffff;
}
/*.new_title{
	font-family: Georgia ;
	font-size: 21px;
}*/
.logobottom{
	margin-top: 20px;
	/*margin-right: 10px;*/
}
.text_coppy {
	color: #ffffff;
}
.logo1right{
	float: right;
}