/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.background-home {
    background-image: none;
    background-color: #f8f8f8;
}
.img-header {
    position: absolute;
}
#container.container {
    max-width: 1170px;
    margin: auto;
}

.bar-index {
    background-color: transparent;
    background-image: none;
    border: none;
    height: 177px;
    margin-bottom: 0;
}

.se-header {
    border: none;
    width: 32px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Raleway';
    background-color: transparent;
}
.left-bar {
    font-family: 'Roboto';
    font-weight: bold;
    color: black;
}
.left-bar>div{
    margin-bottom: 30px;
}
.menu-left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #26d2fc;
}

.menu-left>ul>li>a {
    display: block;
    color: #000;
    padding: 8px 40px;
    text-decoration: none;
}

.menu-left>ul>li>a:hover {
    background-color: #555;
    color: white;
}
.menu-left h2 {
    color: white;
    margin: 0;
    padding: 25px 40px;
    font-size: 14px;
    background-color: black;
}
.menu-left>ul>li>a:visited {
    color: #333333;
}
.catelogy-option h2{
    color: white;
    margin: 0;
    padding: 25px 40px;
    font-size: 14px;
    background-color: black;   
}
.catelogy-option ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #81e6fe;   
}
.catelogy-option>ul>li>a {
    display: block;
    color: #000;
    padding: 8px 40px;
    text-decoration: none;
}
.catelogy-option>ul>li>a:hover {
    background-color: #555;
    color: white;   
}
.catelogy-option>ul>li>a:visited {
    color: #333333;
}
.brand-option h2{
    color: white;
    margin: 0;
    padding: 25px 40px;
    font-size: 14px;
    background-color: black;   
}
.brand-option ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #9eeafd;   
}
.brand-option>ul>li>a {
    display: block;
    color: #000;
    padding: 8px 40px;
    text-decoration: none;
}
.brand-option>ul>li>a:hover {
    background-color: #555;
    color: white;   
}
.brand-option>ul>li>a:visited {
    color: #333333;
}

.main-content {
    background-color: #f8f8f8;
    background-image: none;
    font-family: 'Roboto';
    font-size: 12px;
    padding: 0;
}
.main-content .row{
    margin: 0;
}
.step-cart{
    padding: 13px 40px;
    padding-bottom: 30px;
}
.step-cart a{
    font-size: 24px;
    color: #aaaaaa;
    margin-left: 35px;
}
.step-cart .active {
    color: #ff0101;
    margin-left: 0;
}
.web-links{
    color: #faef03;
    padding: 24px 40px;    
}
.web-links>a{
    color: black;
    padding-right: 0;
}
.main-content>h2 {
    margin: 0;
    padding: 32px 27px;
    font-size: 22px;
}
.back-page{
    float: right;
    color: black;
    padding: 24px 40px;
    
}
.product-in-cart{
    font-size: 14px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}
 .header-table{
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px inset;
    padding-bottom: 7px;
    margin-bottom: 13px;
    text-align: center;
}
.img-product{
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}
.img-product h3 {
    font-size: 14px;
    font-weight: bold;
    margin:0;
    text-align: left;
}
.img-product p {
    font-size: 12px;
    text-align: left;
}
.product-in-cart input{
    width: 30px;
    text-align: center;
}
.quanty-btn{
    border: 1px solid #eaeaea;
    color: black;
    text-decoration: none;
    background-color: white;
    padding-right: 3px;
    padding-left: 3px;
}
.quanty-btn:hover{
    text-decoration: none;
}
.quanty-btn: visited{
    text-decoration: none;
}
.del-button{
    color: red;
}
.btn-cart button{
    border-radius: 0;
    background-color: #333333;
    background-image: none;
    color: white;
    border-color: black;
    width: 200px;
    margin-left: 50px;
    font-size: 14px;
    font-weight: normal;
    float: right;
}
.btn-cart a{
    font-size: 14px;
    font-style: italic;
    color: #333333;
    float: right;
}
.form-cart{
    padding-left: 0;
}
.form-cart input{
    width: 240px;
    border-radius: 0;
}
.fpage{
    color: black;
    padding-right: 10px;
}
.coupon-code{
    font-size: 16px;
}
.review-cart{
    background-color: #fb4d01;
    background-image: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.review-cart h3{
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 35px;
}
.review-cart p{
    margin: 0;
    padding: 15px 20px;
}
.review-cart p:last-child{
    font-size: 16px;
}
.review-cart p span {
    float: right;
}
.review-cart button{
    border-radius: 0;
    background-color: #333333;
    background-image: none;
    color: white;
    border-color: black;
    font-size: 28px;
    font-weight: normal;
    padding: 0 25px;
    margin: 60px 30px;
    margin-top: 45px;
}
.slide{
    position: relative;
}
.right-arrow {
    position: absolute;
    top: 40%;
    right: 0;
    padding: 10px;
    background-color: #26d2fc;
    font-size: 20px;
}
.left-arrow {
    position: absolute;
    top: 40%;
    left: 0;
    padding: 10px;
    background-color: #26d2fc;
    font-size: 20px;
}
.sale-off {
    color: red;
    font-size: 14px;
    text-decoration: line-through;
}

.img-slide {
    padding: 12px;
    background-color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    height: 320px;
    position: relative;
}
.img-slide a{
	color: black;
}
.cost-product {
    font-size: 18px;
    padding-left: 0px;
    text-align: right;
    color: black;
    padding-top: 27px;
    font-weight: bold;
}
.name-product {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding-top: 27px;
}
.special-stick {
    position: absolute;
    top: 0;
    right: 0;
}
.contact-page {
    text-align: center;
    font-size: 64px;
    color: white;
}

.contact-page i {
    padding-top: 44px;
    padding-bottom: 44px;
}

.img-page {
    width: 100%;
}


.top-footer {
    background-color: #373737;
    background-image: none;
    color: white;
    font-size: 12px;
    font-family: 'Roboto';
    padding-bottom: 67px;
    padding-top: 77px;
}

.footer-list h2 {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: bold;
}

.footer-list ul {
    list-style: none;
    padding-left: 0;
}

.footer-list>ul>li>a {
    text-decoration: none;
    color: white;
}

.footer-list input {
    background-color: #fff51f;
    border-radius: 0;
    color: #333333;
    border: none;
}

.footer-list button {
    border-radius: 0;
    background-color: black;
    background-image: none;
    color: white;
    border-color: black;
}

.footer-list p {
    font-size: 14px;
}

.bottom-footer {
    background-color: #333333;
    background-image: none;
    color: white;
    font-size: 12px;
    font-family: 'Roboto';
    padding-bottom: 10px;
    padding-top: 15px;
}

.bottom-footer p {
    margin: 0;
    float: left;
}

.bottom-footer a {
    float: right;
    color: white;
    padding-left: 10px;
    font-size: 15px;
}


/* #Tablet (Landscape) 1024px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 960px) and (max-width: 1240px) {}


/* #Tablet (Portrait) 768px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .img-slide {
        height: auto;
    }
    div.header-table:not(:first-child){
        display: none;
    }
}


/* #Mobile (Landscape) 480px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .img-slide {
        height: auto;
    }
   
    .brand-logo {
        width: 60%;
    }
    div.header-table:not(:first-child){
        display: none;
    }
}


/*  #Mobile (Portrait) 320px
---------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 100px) and (max-width: 479px) {
    .img-slide {
        height: auto;
    }
    .brand-logo {
        width: 45%;
    }
    .carousel-top{
    	display: none;
    }
    div.header-table:not(:first-child){
        display: none;
    }

}
